/******************************************************************
Theme Name: dework
Theme URI: http://dework.net
Description: bones, sass, bulma, custom template 
Author: sato165
Author URI: http://dework.net
Version: 0.8
Tags: fluid-layout, responsive-layout, accessibility-ready, translation-ready, microformats, rtl-language-support

License: WTFPL
License URI: http://sam.zoy.org/wtfpl/
*/


/*
dework theame
bulma css 2.1.3
*/

body {
    max-width: 1920px;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', '游ゴシック  Medium', meiryo, sans-serif;
    font-size: 16px;
    line-height: 160%;
}

p {
    margin: 0;
    margin-bottom: 0.7em;
}

.mincho {
    font-family: '游明朝', 'Yu Mincho', YuMincho, 'Hiragino Mincho Pro', serif;
    letter-spacing: 0.1em;
}

h2 {
    font-family: '游明朝', 'Yu Mincho', YuMincho, 'Hiragino Mincho Pro', serif;
    letter-spacing: 0.1em;
    font-size: 200%;
    line-height: 160%;
    margin-bottom: 10%;
}

h1 {
	font-family: '游明朝', 'Yu Mincho', YuMincho, 'Hiragino Mincho Pro', serif;
	letter-spacing: 0.1em;
	font-size: 200%;
	line-height: 160%;
	margin-bottom: 10%;
	text-align: center;
	border-bottom: 10px solid #eaeaea;
	display: inline-block;
}

.article-header{
	margin-bottom: 30px;
		margin-bottom: 30px;
		margin: 0 auto;
		text-align: center;
}

.aligncenter {
    display: block;
    margin: 0 auto;
}

.alignright {
    float: right;
    margin: 10px;
}

.alignleft {
    float: left;
    margin: 10px;
}

.clearfix {
    overflow: hidden;
    zoom: 1;
}

.clearfix:after {
    content: "" display: block;
    clear: both;
}

@media screen and (min-width: 1180px){}
    .container {
        max-width: 980px;
}


/*  --------------------------------------------- 
margin space
--------------------------------------------- */
.space-10{
	width:100%;
	height: 10px;
	clear: both;
}
.space-20{
	width:100%;
	height: 20px;
	clear: both;
}
.space-30{
	width:100%;
	height: 30px;
	clear: both;
}
.space-40{
	width:100%;
	height: 40px;
	clear: both;
}
.space-50{
	width:100%;
	height: 50px;
	clear: both;
}
.space-70{
	width:100%;
	height: 50px;
	clear: both; 
}

/* ==================================
box 
===================================== */

.center-box,
.center-box .center {
    height: 100%;
    height: 100vh;
}

.center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

section {
    z-index: 0;
}

section.hero p {
    text-shadow: 0px 0px 3px gray !important;
    color: white !important;
}

section.full-height {
    background-image: url(bg01.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    height: 100vh;
    min-height: 600px;
}

.nav-item {
    padding: 0;
    font-family: '游明朝', 'Yu Mincho', YuMincho, 'Hiragino Mincho Pro', serif;
}

.is-large {
    width: 100%;
}


/*
縦書き
*/

.tate-block {
    writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
}

p.button.is-large {
    height: auto;
}

p.button a {
    padding: 10px 20px;
}

@media screen and (max-width: 768px) {
    .button.full {
        width: 100%;
        margin: 0;
    }
}


/* ==================================
page-top
===================================== */

#pageTop {
    position: fixed;
    bottom: 20px;
    right: 50%;
}

#pageTop a {
    display: block;
    z-index: 999;
    border-radius: 30px;
    width: 35px;
    height: 35px;
    background-color: #9FD6D2;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

#pageTop a:hover {
    text-decoration: none;
    opacity: 0.7;
}

#pageTop a i {
    line-height: 35px;
}


/* header */

#header {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    top: 0;
    left: 0;
    line-height: 1;
    z-index: 10000 !important;
}

#header.fixed {}

#header:after {
    content: "";
    display: block;
    margin: 20px auto 20px;
}

#header .container,
#header .nav {
    background-color: transparent;
}

#header .container {
    margin-top: 20px;
}

#header.fixed .container {
    margin-top: 0px;
}


/* transition */

#header,
#header:after,
#header .logo,
#global-nav ul li,
#global-nav ul li a {
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
}

#header li.nav-item a {
    padding: 0 20px;
}


/* Fixed */

#header.fixed {
    background: rgba(255, 255, 255, .9);
}

#header.fixed .logo {
    font-size: 24px;
    color: #333;
}

#header.fixed:after {
    width: 100%;
    margin: 0 auto;
}

#header.fixed li.nav-item {
    padding: 0;
}

#header li.nav-item a {
    display: block;
    line-height: 50px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

#header li.nav-item a.button {
    display: inherit;
}

#header.fixed .nav-item {}

#header .nav-item a:hover {
    background: rgba(255, 255, 255, .6);
    color: aliceblue;
}

#header .nav-menu a {
    color: white;
}

#header .nav-menu a.button {
    color: inherit;
}

#header.fixed .nav-menu a {
    color: black;
}

#header.fixed .nav-menu a:hover {
    color: aqua;
}

#header.open .nav-menu a {
    color: white;
}

#header.open .nav-menu a:hover {
    color: aqua;
}

.nav-menu li {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.nav-menu li > a {
    display: block;
    /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
    box-sizing: border-box;
}

.nav-menu ul.normal-sub a {
    color: black;
}

.nav-menu > li > ul.normal-sub {
    display: none;
    z-index: 99;
    list-style: none;
    box-sizing: border-box;
    min-width: 200px;
    padding: 0;
}

#header.fixed .nav-menu > li > ul.normal-sub {
    background: rgba(255, 255, 255, .6);
}

.nav-menu > li > ul.normal-sub li {
    border-top: 1px solid #CCC;
}

.nav-menu > li > ul.normal-sub li:first-child {
    border-top: 0px;
}

.menu-dropdown-icon {
    position: relative;
}

.menu-dropdown-icon ul {
    position: absolute;
    top: 50px;
    left: 0;
}

#header.fixed .menu-dropdown-icon ul {
    top: 50px;
}


/* ==================================
table
===================================== */

.table.reserv-info tr:first-child:before {
    content: '';
    position: absolute;
    width: 1px;
    background: #cacaca;
    top: 0;
    bottom: 0;
    left: 160px;
    border-left: 19px solid #fff;
    border-right: 19px solid #fff
}


/* ==================================
画像置き換え
===================================== */

.img_replace {
    text-indent: 150%;
    white-space: nowrap;
    overflow: hidden;
    background-position: center top;
    background-size: cover;
}

.is-brand {
    width: 204px;
    height: 34px;
    background-image: url("src/img/logo.png");
}

.is-brand:hover {
    width: 204px;
    height: 34px;
    background-image: url("src/img/logo_ov.png");
}

#header.fixed .is-brand {
    margin-top: 8px;
}

#header.fixed .is-brand {
    background-image: url("src/img/logo_ov.png");
}

#header.open .is-brand {
    background-image: url("src/img/logo.png");
}

#header.fixed .is-brand:hover {
    width: 204px;
    height: 34px;
    background-image: url("src/img/logo.png");
}


/*
@media screen and (max-width: 479px) {
.img_replace {
margin-right: 0;
margin-left: 0;
width: 100%;
background-size: contain;
}
}
*/


/* ==================================


responsive


===================================== */

@media screen and (max-width: 768px) {
    #header.open {
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .9);
        z-index: 100000000;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    #header.open .is-brand {
        color: #FFF;
    }
    /* Icons */
    #header.open .nav-menu > li > ul.normal-sub {
        background: rgba(124, 124, 124, .4);
    }
    #header.open li.nav-item {
        padding: 0;
    }
    #nav-toggle {
        z-index: 10000000000;
    }
    /* Nav */
    ul#nav-menu {
        background-color: transparent;
        box-shadow: none;
        /*
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100000000;
        */
    }
    #header.open ul#nav-menu li,
    #header.open ul#nav-menu li a {
        display: block;
    }
    #header.open ul#nav-menu li a.button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
    #header.open ul#nav-menu li a:hover {
        background-color: black;
        color: aquamarine;
    }
    ul#nav-menu {
        width: 80%;
        height: 100%;
        padding: 50px 0 0 0;
        margin: 0 10%;
    }
    ul#nav-menu .nav-item ul li {
        border-top: 1px solid rgba(219, 219, 219, 0.5);
        text-align: center;
    }
    ul#nav-menu .nav-item a {
        color: #FFF;
    }
    ul#nav-menu .nav-item a.button {
        color: inherit;
    }
    .nav-toggle:hover {
        background-color: black;
    }
    .nav-toggle.is-active span {
        background-color: #00d1b2;
    }
    #header li.nav-item {
        margin: auto;
        padding: auto;
    }
    #header li.nav-item > a {
        display: block;
        /*        padding: 20px;*/
    }
    .menu-dropdown-icon ul {
        position: static;
        margin-top: 0px;
    }
    .menu-dropdown-icon ul ul {
        margin-top: 0px;
    }
    .menu-dropdown-icon:before {
        display: block;
    }
    .menu-dropdown-icon {
        position: relative;
    }
    .menu-dropdown-icon:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        content: "\f196";
        cursor: pointer;
        font-size: 2em;
        margin: auto;
        position: absolute;
        right: 0;
        line-height: 50px;
        color: #fff;
    }
    #nav-menu.open .menu-dropdown-icon:before {
        content: "\f147";
    }
}